PORT=5000
CLIENT_URL=http://localhost:5173
JWT_SECRET=super_secret_key_change_me
JWT_EXPIRES_IN=7d

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=messmate

MEAL_BREAKFAST_TIME=08:00
MEAL_LUNCH_TIME=13:00
MEAL_DINNER_TIME=20:00
